* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
}

/* Dashboard-styling */

.dashboard-main {
  top: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: auto;
  height: auto;
  position: relative;
  border-radius: 0px 20px 20px 0px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
}

.dashboard-items {
  height: 100%;
  position: relative;
}

.dashboard-items .site-logo {
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00adb5;
}

.dashboard-items .site-logo:hover {
  color: #f6f6f6;
  background-color: #00d7e2;
}

.dashboard-main img {
  max-width: 100px;
  position: relative;
}

.dashboard-items ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-items a {
  display: block;
  padding: 10px 20px;
  position: relative;
  color: #696969;
  border-radius: 10px;
  transition: 0.4s;
}

.dashboard-items span {
  margin-left: 10px;
  position: relative;
}

.dashboard-items .logout-button {
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.dashboard-items .logout-button:hover {
  color: #f6f6f6;
  background-color: #ff524a;
}

.dashboard-items a:hover {
  color: #393e46;
  background-color: #c7c7c7;
  transition: 0.4s;
}

/* Home styling */

.main-page-content {
  padding: 20px;
  overflow-y: scroll;
  width: 100%;
  gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  grid-template-rows: repeat(auto-fill, minmax(200px, 200px));
  align-items: center;
  justify-content: center;
}

.palette-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
}

.palette-wrapper div {
  width: 50;
  height: 50px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.palette-wrapper div:hover {
  cursor: pointer;
}

.main-page-content-generate {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Generate styling */

.generate-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.palette {
  width: 0;
  height: 0;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.palette.visible {
  width: auto;
  height: auto;
}

.block-generated.color-1 {
  width: 10rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.palette div {
  width: 10rem;
  height: 20rem;
  display: block;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 10px;
  color: #ffff;
  background-color: #00adb5;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: #00d7e2;
  transition: 0.4s;
}

/* About styling */

.main-page-content-about {
  padding: 20px;
}

.about-content {
  display: block;
}

.about-content h1 {
  color: #393e46;
  font-size: 2em;
  margin-bottom: 10px;
}

.about-content h2 {
  color: #393e46;
  margin-bottom: 10px;
}
.about-content p {
  color: #696969;
  line-height: 1.5;
  margin-bottom: 20px;
}
.about-content ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.about-content li {
  color: #696969;
  margin-bottom: 10px;
}
.about-content a {
  color: #0077cc;
  text-decoration: none;
}
.about-content a:hover {
  text-decoration: underline;
}
